@media(max-width:1126px){

    .sidebar{
        position:fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 73px;
        background-color: white;
        z-index: 200;
        padding-top: 5px;
    }
    
    .sidebar-link{
        height: 74px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        cursor:pointer;
    }
    
    .sidebar-link:hover{
        background-color: rgb(224, 224, 224);
    }
    
    .sidebar-link img{
        height: 24px;
    }
    
    .sidebar-link div{
        font-size: 10px;
        margin-top: 5px;
    
    }

}



@media(min-width:1127px){

    .sidebar{
        position:fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width:240px;
        background-color: white;
        z-index: 200;
        padding-top: 13px;
    }
    
    .sidebar-link{
        display:flex;
        align-items:center;
        cursor:pointer;
        padding: 8px 24px;
    }
    
    .sidebar-link:hover{
        background-color: rgb(224, 224, 224);
    }
    
    .sidebar-link img{
        height: 24px;
        margin-right: 24px;
    }
    
    .sidebar-link div{
        font-size: 14px;
        font-family: roboto,arial;
    
    }
}


